body
{
    background: #eeeeee;
}
.biodata
{
    width: 350px;
    background: #ccc;
    height: 800px;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    border: 10px dashed #fff;
    text-align: left;
}
.biodata img
{
    width: 200px;
    padding: 2px;
    border: 1px solid #fff;
    align-content: center
}
.biodata li
{
    text-decoration: none;
}
.content
{
    width: 900px;
    background: #ccc;
    height: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    float: right;
    overflow: hidden;
    border: 10px dashed #fff;
    text-align: center
}
.contact
{
    width: 50px;
    background: #fff;
    float: right;
    border: 3px dashed #eeeeee;
    padding: 3px;
}
.contact img
{
    width: 100%;
}